<div class="container my-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card bg-electric">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">

                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                        </div>
                        <div class="col-sm-4">
                            <img src="https://pokeres.bastionbot.org/images/pokemon/2.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>